{%extends 'newtemplates/layout.html'%}
{%block content%}
    <!-- Hero Section-->
    <section class="py-6 bg-gray-100">
      <div class="container">
        <h2 class="h4 mb-5">Report a Closure</h2>
        <div class="row">
          <div class="col-md-7 mb-5 mb-md-0">
            <form class="form" id="contact-form" method="post" action="contact.php">
              <div class="controls">
                <div class="row">
                  <div class="col-sm-6">
                    <div class="mb-4">
                      <label class="form-label" for="name">Your firstname *</label>
                      <input class="form-control" type="text" name="name" id="name" placeholder="Enter your firstname" required="required">
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="mb-4">
                      <label class="form-label" for="surname">Your lastname *</label>
                      <input class="form-control" type="text" name="surname" id="surname" placeholder="Enter your  lastname" required="required">
                    </div>
                  </div>
                </div>
                <div class="mb-4">
                  <label class="form-label" for="email">Your email *</label>
                  <input class="form-control" type="email" name="email" id="email" placeholder="Enter your  email" required="required">
                </div>
                <div class="mb-4">
                  <label class="form-label" for="message">Your message for us *</label>
                  <textarea class="form-control" rows="4" name="message" id="message" placeholder="Enter your message" required="required"></textarea>
                </div>
                <button class="btn btn-outline-primary" type="submit">Send message</button>
              </div>
            </form>
          </div>
          <div class="col-md-5">
            <div class="ps-lg-4 text-sm">
              <p class="text-muted">Effects present letters inquiry no an removed or friends. Desire behind latter me though in. Supposing shameless am he engrossed up additions. My possible peculiar together to. Desire so better am cannot he up before points. Remember mistaken opinions it pleasure of debating. Court front maids forty if aware their at. Chicken use are pressed removed. </p>
              <p class="text-muted">Able an hope of body. Any nay shyness article matters own removal nothing his forming. Gay own additions education satisfied the perpetual. If he cause manor happy. Without farther she exposed saw man led. Along on happy could cease green oh. </p>
              <div class="social">
                <ul class="list-inline">
                  <li class="list-inline-item"><a href="#" target="_blank"><i class="fab fa-twitter"></i></a></li>
                  <li class="list-inline-item"><a href="#" target="_blank"><i class="fab fa-facebook"></i></a></li>
                  <li class="list-inline-item"><a href="#" target="_blank"><i class="fab fa-instagram"></i></a></li>
                  <li class="list-inline-item"><a href="#" target="_blank"><i class="fab fa-pinterest"></i></a></li>
                  <li class="list-inline-item"><a href="#" target="_blank"><i class="fab fa-vimeo"></i></a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
{%endblock content%}