{%extends 'newtemplates/layout.html'%}

{%block content%}
    <div class="mh-full-screen d-flex align-items-center dark-overlay"><img class="bg-image" src="{{url_for('static', filename='img/photo/pentacrest.jpeg')}}" alt="Coming Soon">
      <div class="container text-white text-center text-lg overlay-content py-6 py-lg-0">
        <h1 class="sr-only">Coming soon</h1><img class="img-fluid mx-auto mb-6" src="{{url_for('static', filename='img/coming-soon.png')}}" alt="Coming Soon">
        <h3 class="mb-5 text-shadow">Our directory is coming to you soon.</h3>
        <p class="fw-light mb-4"><i class="fas fa-map-marker-alt me-2"></i> Directory Ltd. | 25 Baker St., LB8 E18 London, UK</p>
        <ul class="list-inline">
          <li class="list-inline-item"><a class="text-white" href="#" target="_blank" title="twitter"><i class="fab fa-twitter">           </i></a></li>
          <li class="list-inline-item"><a class="text-white" href="#" target="_blank" title="facebook"><i class="fab fa-facebook">           </i></a></li>
          <li class="list-inline-item"><a class="text-white" href="#" target="_blank" title="instagram"><i class="fab fa-instagram">           </i></a></li>
          <li class="list-inline-item"><a class="text-white" href="#" target="_blank" title="pinterest"><i class="fab fa-pinterest">           </i></a></li>
          <li class="list-inline-item"><a class="text-white" href="#" target="_blank" title="vimeo"><i class="fab fa-vimeo">           </i></a></li>
        </ul>
      </div>
    </div>
{%endblock content%}