{%extends 'newtemplates/layout.html'%}

{%block content%}
    <div class="mh-full-screen d-flex align-items-center dark-overlay"><img class="bg-image" src="{{url_for('static', filename='img/photo/pentacrest.jpeg')}}" alt="Coming Soon">
      <div class="container text-white text-center text-lg overlay-content py-6 py-lg-0">
        <h1 class="sr-only">Coming soon</h1><img class="img-fluid mx-auto mb-6" src="{{url_for('static', filename='img/coming-soon.png')}}" alt="Coming Soon">
        <h3 class="mb-5 text-shadow">Settings page is coming soon!</h3>
        <p class="fw-light mb-4"><i class="fas fa-map-marker-alt me-2"></i> 200 Hawkins Drive Iowa City, IA 52242</p>
        <p class="fw-light mb-4"><i class="fas fa-solid fa-phone"></i> 1-800-777-8442</p>
        <ul class="list-inline">
          <li class="list-inline-item"><a class="text-white" href="https://twitter.com/uihealthcare" target="_blank" title="twitter"><i class="fab fa-twitter">           </i></a></li>
          <li class="list-inline-item"><a class="text-white" href="https://www.facebook.com/uihealthcare" target="_blank" title="facebook"><i class="fab fa-facebook">           </i></a></li>
          <li class="list-inline-item"><a class="text-white" href="https://www.instagram.com/uihealthcare/" target="_blank" title="instagram"><i class="fab fa-instagram">           </i></a></li>
          <li class="list-inline-item"><a class="text-white" href="https://www.youtube.com/user/uihealthcare" target="_blank" title="instagram"><i class="fab fa-youtube">           </i></a></li>
        </ul>
      </div>
    </div>
{%endblock content%}