{%extends 'newtemplates/layout.html'%}
{%block content%}

    <section class="py-6">
      <div class="container">
        <h6 class="subtitle text-center mb-4">Our Team</h6>
        <div class="row">
          <div class="mb-3 mb-lg-0 col-sm-6 col-lg-3">
            <div class="card border-0 hover-animate bg-transparent"><a class="position-relative" href="#"><img class="card-img-top team-img" src="{{url_for('static', filename='img/photo/subrat.png')}}" alt=""/>
                <div class="team-circle bg-info-light"></div></a>
              <div class="card-body team-body text-center">
                <h6 class="card-title">Subrat Acharya</h6>
                <p class="card-subtitle text-muted text-xs text-uppercase">Team Member</p>
              </div>
            </div>
          </div>
          <div class="mb-3 mb-lg-0 col-sm-6 col-lg-3">
            <div class="card border-0 hover-animate bg-transparent"><a class="position-relative" href="#"><img class="card-img-top team-img" src="{{url_for('static', filename='img/photo/alaa.png')}}" alt=""/>
                <div class="team-circle bg-info-light"></div></a>
              <div class="card-body team-body text-center">
                <h6 class="card-title">Alaa Fadelsied</h6>
                <p class="card-subtitle text-muted text-xs text-uppercase">Team Member</p>
              </div>
            </div>
          </div>
          <div class="mb-3 mb-lg-0 col-sm-6 col-lg-3">
            <div class="card border-0 hover-animate bg-transparent"><a class="position-relative" href="#"><img class="card-img-top team-img" src="{{url_for('static', filename='img/photo/holly.png')}}" alt=""/>
                <div class="team-circle bg-info-light"></div></a>
              <div class="card-body team-body text-center">
                <h6 class="card-title">Holly Kuchel</h6>
                <p class="card-subtitle text-muted text-xs text-uppercase">Team Member</p>
              </div>
            </div>
          </div>
          <div class="mb-3 mb-lg-0 col-sm-6 col-lg-3">
            <div class="card border-0 hover-animate bg-transparent"><a class="position-relative" href="#"><img class="card-img-top team-img" src="img/avatar/agent-3.png" alt=""/>
                <div class="team-circle bg-info-light"></div></a>
              <div class="card-body team-body text-center">
                <h6 class="card-title">Karlee Kuntzman</h6>
                <p class="card-subtitle text-muted text-xs text-uppercase">Team Member</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    {%endblock content%}