click==8.0.4
colorama==0.4.4
Flask==2.0.3
Flask-WTF==1.0.0
itsdangerous==2.1.2
Jinja2==3.1.1
MarkupSafe==2.1.1
neo4j-driver==4.3.6
neobolt==1.7.17
neomodel==4.0.8
pytz==2022.1
Shapely==1.7.1
six==1.16.0
Werkzeug==2.0.3
WTForms==3.0.1
