{% extends 'layout.html' %}

{% block content %}

            <div class="container-fluid">
                <div class="row row-cols-lg-auto g-3 align-items-center mt-3">
                    <h3>
                        Contacts
                    </h3>
                    <p>
                        If you are still having trouble finding your way around the hospital please contact one of the numbers shown below. 
                    </p>
                    <ul>
                        <li>
                            University of Iowa Hospitals and Clinics Information Desk - (319)-384-8591
                        </li>
                        <li>
                            Patient Services Concierge Desk - (319)-356-2277
                        </li>
                        <li>
                            University of Iowa Main Hospital - (319)-356-1616
                        </li>
                    </ul>
                    </div>
            </div>

{% endblock content%}